<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Welcome Page</title>
</head>
<body>
    <h1 class="intro">Welcome to Songbird!</h1>
    <h3 class="intro">Songbird gives you music recommendations based on the vibe that your twitter feed gives our AI.</h3>
    <h3 class="intro">Login to Twitter to see your music recommendations.</h3>
    <a href="/login" class="login"><button width="300" height="200"><img src="{{ url_for('static', filename='twitter_sign_in.png') }}"></button></a>
</body>
</html>