<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/spotify.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="http://fontlibrary.org/face/rubik" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Spotify</title>
</head>
<body>
    <div id=box>      
        <br>
        <!--p>{{ response_data }}</p>
        <p>{{ strings }}</p-->
        <p class="description"><strong>Here is what our AI came up with: </strong> {{ strings }}</p>
        <br><br>
        <p class="description">Here is the playlist that our AI generated based on the vibe of your Twitter timeline.</p>
        <br><br>
        <iframe src="{{ playlist_url }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</body>
</html>