html {
    background: tan;
}

a {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 0;
}

#box {
    width: 80%;
    height: 55%;
    border-radius: 30px;
    position: absolute;
    background-color: rgb(80, 117, 211);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.75);
}

.display-1 {
    color: white;
    font-family: 'RubikRegular';
    font-weight: normal;
    font-style: normal; 
    text-align: center;
}

.description {
    color: white;
    font-family: 'RubikRegular';
    font-weight: normal;
    font-style: normal; 
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}