html {
    background:dodgerblue;
    font: caption;
}

.intro {
    text-align: center;
    text-emphasis: bold;
    font-weight: bolder;
}

a {
    text-align: center;
}

button {
    padding: 1.2cm 1.2cm;
    margin: 1.2cm 1.2em 1.2em 1.2cm;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    background: #93c8df;
    border-radius: 20px;
    text-align: center;
}

button:hover {
    background: #a2cddd;
}